<div class="container d-flex h-100">
  <div class="w-25">
    <h2>Models</h2>
    <div class="list-group" *ngIf="names">
      <div class="list-group-item list-group-item-action"
           [class.active]="name == selected"
           *ngFor="let name of names"
           (click)="selected = name">
        <code>{{name}}</code>
      </div>
    </div>
  </div>
  <div class="w-75 d-flex align-items-center justify-content-center">
    <model-viewer src="{{getModelURI()}}" auto-rotate camera-controls
                  class="h-100 w-100"
                  *ngIf="selected"></model-viewer>

    <div class="alert alert-info" *ngIf="!selected">
      Select a model from the left side menu.
    </div>
  </div>
</div>
